html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  box-sizing: border-box;
}

body {
  position: fixed;
  width: 962px;
  height: 601px;
  overflow: hidden;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}