.subpage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  position: relative;
  z-index: 10;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.nav-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
}

.navigation-buttons-container {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.back-button, .home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #0CB100;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 1.5rem;
}

.back-button img, .home-button img {
  width: 32.5px;
  height: 32.5px;
  filter: brightness(0) invert(1);
}

.back-button-text {
  font-weight: 600;
  font-size: 1rem;
  color: #333333;
}

.header-section {
  width: 63%;
  margin-left: 14rem;
}

.header-title {
  color: white;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 3.5px;
}

.header-subtitle {
  color: white;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.9;
}

.header-avatar-container {
  margin: 5px 0;
}

.header-avatar {
  width: 40px;
  height: 40px;
}

.action-button.back-button {
  display: none;
}

.subpage-logo {
  height: 40px;
  width: auto;
}