<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="./speedDial.css">
  <script src="./speedDial.js" defer></script>
</head>
<body>
  <div class="speed-dial">
    <button class="speed-dial-button main-button">
      <img src="../../assets/icons/menu.svg" alt="Menü" />
    </button>
    <div class="speed-dial-items">
      <a href="../../pages/settings/settings.html" class="speed-dial-item" target="_parent">
        <img src="../../assets/icons/settings.svg" alt="Einstellungen" />
      </a>
      <a href="#" class="speed-dial-item" target="_parent">
        <img src="../../assets/icons/volume_mute.svg" alt="Mute" />
      </a>
      <a href="#" class="speed-dial-item" target="_parent">
        <img src="../../assets/icons/freeze.svg" alt="Freeze" />
      </a>
    </div>
  </div>
</body>
</html>